<header>
    <div class="container header-container">
      <div class="logo">
        <img src="logo.jpg" alt="Plastering West Yorkshire Logo" />
      </div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="">Contact us</a></li>
        </ul>
      </nav>
      <div class="contact-info">
        <p><strong>Office</strong>: 01977794652<br/>
                  07590557979 Robert<br/>
                  07931527764 Marzena<br/>
        <strong>Email</strong>: office&#64;plastering-west-yorkshire.co.uk</p>
      </div>
    </div>
  </header>
