<header>
    <div class="container header-container">
      <div class="logo">
        <img src="logo.jpg" alt="Plastering West Yorkshire Logo" />
      </div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
        </ul>
      </nav>
      <div class="contact-info">
        <p>Phone: 01234 567890</p>
        <p>Email: info&#64;plastering-west-yorkshire.co.uk</p>
      </div>
    </div>
  </header>
