<section class="about" id="about">
    <div class="container about-content">
      <img src="trowel.png" alt="About Us" />
      <div class="about-text">
        <h2>About Us</h2>
        <p>
            With over 20 years experience in Plastering and not only I can offer you the <strong>best price</strong> and <strong>top quality</strong> in Domestic or Commercial contractor Jobs.  We provide a professional service to the construction and building refurbishment industry as well as commercial, public and private clients.

            From our Base in Pontefract we are placed to serve in all <strong>West Yorkshire Area</strong> for all types of jobs and sometimes Nationwide (United Kingdom)</p>
      </div>
    </div>
  </section>
