<section class="hero" style="background-image: url('plastering-header.jpg');">
    <div class="container">
      <h1>Plastering Services West Yorkshire</h1>
      <p>Professional plastering services for residential and commercial properties.</p>
    </div>
  </section>
  <section class="about" id="about">
    <div class="container about-content">
      <img src="trowel.png" alt="About Us" />
      <div class="about-text">
        <h2>About Us</h2>
        <p>
            With over 20 years experience in Plastering and not only I can offer you the <strong>best price</strong> and <strong>top quality</strong> in Domestic or Commercial contractor Jobs.  We provide a professional service to the construction and building refurbishment industry as well as commercial, public and private clients.

            From our Base in Pontefract we are placed to serve in all <strong>West Yorkshire Area</strong> for all types of jobs and sometimes Nationwide (United Kingdom)
        </p>
        <p>
          With our extensive experience, we're equipped to handle a wide range of custom projects. Tell us about your unique requirements and request a free quote at <a href="mailto:office@plastering-west-yorkshire.co.uk">office&#64;plastering-west-yorkshire.co.uk</a>

          <br/><br/>We also look forward to cooperate with different contractors to carry out big projects, Feel free to get in touch with us.
        </p>
      </div>
    </div>
  </section>
