<section class="area-covered" id="area-covered">
    <div class="container">
      <h2>Areas we cover</h2>
        <a href="https://www.google.pl/maps/place/Pontefract,+West+Yorkshire+WF8+4EG,+Wielka+Brytania/@53.6878279,-1.3244457,17z/data=!3m1!4b1!4m2!3m1!1s0x48796a2d665cf3b1:0x30306a72cdceb7bf" target="_blank">
            <img class="aligncenter wp-image-52 size-full" src="map.jpg"
                alt="" width="100%" height="480"
                srcset="map.jpg" sizes="(max-width: 980px) 100vw, 980px">
        </a>
    </div>
</section>
